*{
    margin: 0%;
    padding: 0%;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.3N-Vnp-U7dE5cJvlpkw9LQHaEo&pid=Api&rs=1&c=1&qlt=95&w=179&h=112);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed ;
    position: absolute;
    
}
  h1 {
    color: #f7f301;
    padding: 10px;
    font-size: 40px; 
    position: absolute;
    top: 0px;
    margin-left: 50px;
 }
 .b2 {
    width: 100vw;
 }
 .banner .b2 ul {
    height: 40px;
    margin-left: 450px;
    margin-right: 18px;
    float: left;

    }
    .banner .b2 ul li {
        display: flex;
        float: left;
        margin-left: 24px;
        margin-top: 24px;
    }

    .banner .b2 ul li a {
        text-decoration: none;
        color: #f7a501;
        font-size: 20px;
        transition: 0.5  ease-in-out;
        
    }
    .banner .b2 ul li a:hover {
        color: #f7f301;
    }
    .s {
        float: right;
        margin-top: 20px;
        margin-right: 60px;
        
    }
    .s input {
        float: left;
        height: 17px;
        background: transparent;
        border: 1px solid #f7f301;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        padding: 4px;
    }
    .s button {
        font-family: sans-serif;
        font-size: 14px;
        width: auto;
        height: 26px;
        border: none;
        background-color: #f7f301;
        padding: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;    
        cursor: pointer;
        transition: 0.5s;
    }
    .s button:hover {
        background-color: azure;
    }
    .content h1 {
        margin-top: 150px;
        padding:50px
        padding-left: 40px;
        color: #f7a501;
        border: 1px transparent;   
    }
    .content p {
        border: 1px sloid #f7a501;
        margin-top: 260px;
        color: azure;
        font-size: 18px;
        margin-left: 60px;
        line-height: 28px; 
        letter-spacing: 0.5px;
        float: left;
        
    }
    .content p button {
        background-color: #f7f301;
        padding: 6px;
        width: 100px;
        border-radius: 8px;
        transition: 0.5s ease-in-out;
        margin-top: 4px;
        
    }
    .content p button:hover{
        background-color: azure;
        cursor: pointer;
        color: #f7a501;
    }
    .form {
        margin-top: 20px;
        border: 1px solid #f7a101;
        width: 240px;
        height: 300px;
        margin-left: 10px;   
        float: right;
        margin-top: 100px;
        margin-right: 40px;
        padding: 20px;
        line-height: 50px;
        box-shadow: 0,0,0,rgb(red, green, blue);
    }
    .form input{
        background: transparent;
        padding: 4px;
        height: 20px;
        border-bottom: 1px solid #ccccc3;
        border-right: 1px solid #ccccc3;

    }
    .form button{
        background-color: #f7a501;
        padding: 6px;
        width: 80px;
        border-radius: 6px;
        font-size: 15px;
        transition: 0.5s ease-in-out;
        margin-top: 30px;

    }
    .form button:hover {
     background-color: #7e7a72;
    
    }
    .form h2 {
        font-size: 25px;
        color: azure;
        text-align: center;
        background-color: #dedb26;
        border-radius: 8px;
        
    }
    .form p {
        color: azure;
        line-height: 20px;
        text-align: center;
        letter-spacing: 1.5px;
    }
    .form p a{
        text-decoration: none;
        font-size: 16px;
    }
    .form p a:hover{
        color: #f7f301;
    }
    